<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoheader.jpg" />

	<title> Mercedez Benz Store</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %></h2> <!-- esto remplaza "Nombre de producto". y hace que funcione con el ID -->
			<p class="product-detail-description">
				<a href="/product/agregar">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/<%= product.imagen_nombre %>" alt="<%= product.nombre %>" class="product-detail-img">
					<p class="product-detail-description"><%= product.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < product.comentarios.length; i++) { %>
							<article>
								 <!-- Foto de perfil del usuario que hizo el comentario -->
								<img src="/<%= product.comentarios[i].usuario.foto_perfil %>" alt="foto perfil">

								<div class="data">
									<p class="user">
										<!-- Nombre del usuario que hizo el comentario, con link a su perfil -->
										<a href="/users/profile/<%= product.comentarios[i].usuario.id %>">
											<%= product.comentarios[i].usuario.email %>
										  </a>
										    <!-- Texto del comentario -->
										  <p><%= product.comentarios[i].texto %></p>
									</p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form" action="/product/<%= product.id %>/comentario" method="POST">
						<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario" required>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					  </form>
					  
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>